@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 600;
}

input[type="text"], input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ffffff;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
}

input[type="text"]::placeholder, input[type="number"]::placeholder {
    color: #cccccc;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 400;
}